<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="./Assets/iconpng.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Script/member.css">
    <title>Member Virtual Guide</title>
</head>
<body>
<div class="gambar">
</div>  
<form action="" method="POST">
<div class="content">
    <%- include('./component/logo')-%>
    <h1 class="font-weight-light">Terimakasih sudah mendaftar di Tour Virtual kami</h1>
    <p class="icon"> </p>
   
</form> 


<div class="mx-center">
    <p id="footer">VirtualTour Indonesia Copyright 2020</p>
</div>



    <script src="/Script/member.js"></script>
</body>
</html>